html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e8e8e8;
  overflow: hidden;
}

.form-title {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
  justify-content: center;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
